@charset "UTF-8";
/* Body */
body {
	font-family: 'Roboto', sans-serif;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
	color: #717070;
	font-style: normal;
    font-weight: 200;
}

/* Container */
.container {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #FFFFFF;
	width: 85%;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

/* Navigation */
header {
	max-width: 100%;
	margin-top: 0px;
	height: 8%;
	background-color: #52bad5;
	border-bottom: 1px solid #043745;
}
.logo {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 10%;
	max-width: 15%;
	float: left;
	margin-top: -10px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 80%;
	text-align: right;
	margin-right: 25px;
	margin-top: 10px;
}
header nav ul {
	list-style: none;
	float: right;
	margin-top: 2%;
}

nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 16px;
	text-align: left;
	margin-right: 20px;
}

ul li a {
	color: #FFFFFF;
	text-decoration: solid;
}

ul li:hover a {
	display: inline-block;
 	animation: flash;
  	animation-duration: 0.5s;
	color: #717070;
}

/* home Section */
.home {
	background-color: white;
}
.light {
	font-weight: bold;
	color: #717070;
}

.text_column {
	width: 29%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #717070;
	margin-top: 5%;
}

.text_precio {
	width: 30%;
	font-weight: lighter;
	line-height: 25px;
	float: right;
	color: #717070;
	margin-top: 5%;
	border: yellow;
	border-radius: 5%;
}

.text_column_art {
	width: 50%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #717070;
}

.text_column_pag {
	width: 90%;
    text-align: justify;
    font-weight: lighter;
    line-height: 25px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    color: #717070;
}

.diseno {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 0px;
}
/* Stats Gallery */
.stats {
	color: #717070;
	margin-bottom: 5px;
}

.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	padding-bottom: 35px;
	padding-top: 0px;
	margin-bottom: -5px;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	padding-top: 30px;
	margin: 0%;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #717070;
}

/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
	display: inline-flex;
	margin-top: 0;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
	background-color: white;
	height: 25%;
	margin: 0%;
}
h3 {
	color: #52BAD5;
	margin: 3px;
	padding-left: 20px;
	font-size: larger;
}

.footer_column h3{
	color: #52BAD5;
	margin: 3px;
	padding-left: 20px;
	font-size: larger;
}

div .footer_column p {
	color: #717070;
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}

.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	display: block;
}

.img-home{
	max-width: 100%;
	display: block;
	width: 100%; 
	height: 600px;
	margin-top: 0%;
	
}

/*Página de contacto*/
.contact-info{
    list-style: none; /*no muestra las viñetas*/
    padding: 0;
    margin:0;
    font-size: 0.9m;
	align-items: baseline;
	text-align: center;
	background-color: #e6e4e4;
	line-height: 25px;
}

.contact-info a{
    display: inline;
    min-height: 20px;
    padding: 0 0 0 30px;
    margin: 0 0 0 10;
    background-repeat: no-repeat;
    background-size: 20px 20px;
	align-items:inherit;
	color: #717070;
}

.contact-info h3{
	color: #52BAD5;
	text-align: center;
	margin-top: 0%;
}

.img-articulo{
	max-width: 100%;
	height: 250px;
	width: 40%;
	float: right;
	margin-bottom: 30px;
}

/*Animación en los textos */
.animate__slideInDown{
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

/*Formulario*/
form{
	width:40%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding:30px;
	border-radius:10px;
	background-color:#E6E4E4;
	max-width: 50%;
	display: block;
}

.img-contact{
	justify-content: right;
	display: block;
	margin-top: 100px;
	width: 60%;
	height: 70%;
	margin-right: 20px;
	border-radius:10px;
}

iframe{
	max-width:100%;
	max-height:100%;
	width: 90%;
    height: 500px;
    display: block;
	margin: auto;
	margin-bottom: 30px;
}

/*Iconos*/
.social-icon{
	width: 20%;
}

/*Precios*/
  .card {
	padding: 10px 50px;
	width: 20%;
	float: left;
	cursor: default;
	border-radius: .25rem;
	display: block;
	margin-bottom: 50px;
  }

  .shadow-lg h1 {
	color: #52BAD5;
	font-size: larger;
	padding-bottom: 0px;
  }

  .card::after {
	position: absolute;
	z-index: -1;
	opacity: 0;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .card:hover {
	transform: scale(1.02, 1.02);
	-webkit-transform: scale(1.02, 1.02);
	backface-visibility: hidden; 
	will-change: transform;
	box-shadow: 0 1rem 3rem rgba(0,0,0,.75) !important;
  }

  .card:hover::after {
	opacity: 1;
  }

  .card .btn-primary{
	margin: auto; 
	width: 60%; 
	display: block; 
	cursor: pointer;
	color: #fff;
	background-color: #0d6efd;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
	border-radius: .25rem;
	margin-top: 30px;
}

element.style {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
    cursor: auto;
	width: 50%;
	display: block;
	padding-left: 20px;
}

.form-control {
    display: block;
    max-width: 95%;
	width: 95%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
	margin-top: 50px;
	width: 50%;
	display: block;
	margin: auto;
	align-items: center;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 8;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
button, input, optgroup, select, textarea {
    margin: 3;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


form {
    width: 40%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 10px;
    background-color: #E6E4E4;
    max-width: 50%;
    display: block;
}

.form-select {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    appearance: none;
}

select {
    word-wrap: normal;
}
button, select {
    text-transform: none;
}

button:not(:disabled) {
    cursor: pointer;
}

.btn {
    display: block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #0d6efd;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label {
    cursor: default;
	width: 60%;
	margin-top: 10px;
	display: block;
}

textarea{
	margin-bottom: 30px;

}


.container-fluid ul{
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding: 15px;
	color: #717070;
	margin-top: 5px;
}

.container-fluid p {
	margin-bottom:70px;
	padding-left: 25px;
	text-align: justify;
}